// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// header
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../imgs/main-slider_bg-1.jpg);
  background-size: cover;
  background-position: center center;
  direction: rtl;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    text-align: center;
    .header__description {
      padding: 40px 200px;
    }
  }
}
//menu
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  .menu__bars {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;
    padding: 15px;
  }
  .menu__logo {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-color;
  }
  .menu__shoping {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orang-color;
    padding: 15px;
  }
}
//nav
#my-menu{
    ul{
        text-align: center;
        li{
            // color: $white-color;
            padding-top : 15px ;
            cursor: pointer;
            &:hover{
                background-color: $orang-color;
            }
        }
        .sign{
            border-top: 1px solid $white-color;
        }
    }
}

//response

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }



