// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// color variables
$white-color : white;
$grey-color : rgb(219, 219, 219);
$orang-color : #fdbc2c;
$black-color : black;
$dark-color : #151515;
$red-color : #D94F2B;

//font variables
$vazir-font : Vazir;

